h1 { 
    color: rgb(80, 156, 156);
  }

// body {
//     // background-image: url("/images/hikeboots.png");
//     background-attachment: fixed;
//     background-color: #80ce28;
//     background-repeat: no-repeat;
//     background-position: center center;
//     color: #333;
  
//     line-height: 18px;
//   }



.btn-primary {
    /* color: #fff; */
    background-color: #007bff;
    border-color: #007bff;
}