<h3>You have been to <%= @locations.count %> locations: </h3>

<table class="table">
    <thead>
        <tr>
            <th scope="col">Location</th>
            <th scope="col">Adventure Log</th>
        </tr>
    </thead>
    <tbody>
        <% @locations.each do |location| %>
        <tr>
            <td><%= location.city %>, <%= location.state %></td>
            <td><%=link_to "Show Adventures", location_adventures_path(location) %></td>
        </tr>
        <% end %>
    </tbody>
</table><br><br>

    <%# location.adventures each do |adv| %>
    <%# location.city %>
    <%# location.adventures.each do |adventure| %>
    <%# link_to adventure.name, adventure_path(adventure) %>
    <%# end %>